h1:first-of-type {
  color: lightpink;
  text-align: center;
  border: 1px solid lightblue;
  padding: 15px;
  width: 300px;
  margin: 10px auto;
  background-color: lightyellow;
  border-radius: 15px;
}
.intro {
  text-align: center;
  border: 2px solid lightblue;
  padding: 10px 15px;
  margin: 15px auto;
  width: 500px;
  background-color: snow;
  border-radius: 15px;
}

.recipe {
  border: 2px solid lightblue;
  padding: 10px 15px;
  margin: 0 auto;
  width: 500px;
  background-color: snow;
  border-radius: 15px;
}

ol li {
  padding: 5px;
  margin: 0 10px 20px 0;
  list-style: none;
}
